<<<<<<< HEAD
=======
img{
  max-height: 80%;
}
>>>>>>> 18d5db8e38761aa084f159816579ef49acc4c09b
header{
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding-left: 1rem;
  padding-right: 2rem;
<<<<<<< HEAD
=======
  height:60px;
}
footer{
  border: 1px solid black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
>>>>>>> 18d5db8e38761aa084f159816579ef49acc4c09b
}
img{
  max-height: 100%;
}
.menu{
  display: flex;
  list-style-type: none;
}
<<<<<<< HEAD
.barra{
  border-right: 1px solid black;
  margin-right: 15px;
  padding-right: 15px;
}

main{
  border: 1px solid black;
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}
aside{
  border: 1px solid black;
}
.azul{
  color: blue;
}
.divisao{
  display: flex;
}

footer{
  border: 1px solid black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
=======
main{
  border: 1px solid black;  
  width: 79.5%;
}
aside{
  border: 1px solid black;
  width: 19%;
}
.divisao{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 36.5rem;
}
.menu{
  display:flex;
}
.caixa{
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid black;
}
.azul{
  color:blue;
>>>>>>> 18d5db8e38761aa084f159816579ef49acc4c09b
}