img{
  max-height: 80%;
}
header{
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding-left: 1rem;
  padding-right: 2rem;
}
footer{
  border: 1px solid black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  max-height: 100%;
}
.menu{
  display: flex;
  list-style-type: none;
}
.barra{
  border-right: 1px solid black;
  margin-right: 15px;
  padding-right: 15px;
}

main{
  border: 1px solid black;
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}
aside{
  border: 1px solid black;
}
.azul{
  color: blue;
}
.divisao{
  display: flex;
}
footer{
  border: 1px solid black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}